﻿@model Human.Models.TimeKeepModel

@{
    ViewBag.Title = "ListTimeKeep";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.active = 5;
}
@section meta{
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="quản lý leave" />
    <meta name="author" content="" />

    <style>

        .dataTables_length {
            padding: 15px 0px 0px 15px;
        }

        .dataTables_filter {
            padding: 10px 15px 10px 0px;
        }

        .dataTables_info {
            padding-bottom: 10px;
            padding-left: 15px;
        }

        .dataTables_paginate {
            padding-bottom: 10px;
        }

        #layoutSidenav #layoutSidenav_content {
            display: flow !important;
        }
    </style>
}
<div class="container" style="padding:10px 20px;">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="page-title" style="font-weight:600;">@Human.Resource.Language.Time_sheet</h2>
                <ul class="breadcrumb font-15">
                    <li class="breadcrumb-item"><a href="#" class="main-color-web font-weight-bold">@Human.Resource.Language.Category_lookup</a></li>
                    <li class="breadcrumb-item active">@Human.Resource.Language.Time_sheet</li>
                </ul>
            </div>
        </div>
    </div>
    @if (TempData["AlertMessage"] != null)
    {
        <div class="Authority">
            <script>
              document.addEventListener("DOMContentLoaded", function (event) {
                  Swal.fire({
                      position: 'center-center',
                      icon: '@TempData["AlertType"]',
                      title: '@TempData["AlertMessage"]',
                      showConfirmButton: false,
                      timer: 3000
                  });
            });
            </script>
        </div>
    }
    <div class="form">
        <div class="card-header leave-header" style="padding:0;">
            <input type="hidden" value="" id="pos_hidden" />
            <div class="header-leave" style="padding:5px 0px;">
                <div class="row col-12" style="margin:0;">

                    <form action="/TimeKeep/SearchTimeKeep" id="searchForm" method="post" class="row" style="margin:0;padding:0;">
                        <label class=" input-custom" style="font-size:14px;width:auto;">@Human.Resource.Language.Select_month_year:</label>
                        <select id="monthSelect" style="width:80px;" class="form-control input-custom" name="SEARCH_MONTH">
                            <option value="">@Human.Resource.Language.Month</option>
                            @for (int month = 1; month <= 12; month++)
                            {
                                string monthFormatted = month.ToString("D2"); // Định dạng số tháng thành chuỗi có 2 chữ số
                                <option value="@monthFormatted">@monthFormatted</option>
                            }
                        </select>
                        <select id="yearSelect" style="width:80px;" class="form-control input-custom" name="SEARCH_YEAR">
                            <option value="">@Human.Resource.Language.Year</option>
                            @for (int year = 2015; year <= DateTime.Now.Year; year++)
                            {
                                <option value="@year">@year</option>
                            }
                        </select>
                        <button style="width:120px;" type="submit" class="form-control btn input-custom"><img class="icon-button" src="~/Assets/img/icon/search-2.png" />@Human.Resource.Language.Search</button>
                    </form>
                    @if (Model.LIST_TIMEKEEEPVIEW != null && Model.LIST_TIMEKEEEPVIEW.Any())
                    {
                        <div class="input-custom btn-pdf-right">
                            <a class="text-color-blue-dark" style="font-size:15px;" href="@Url.Action("GeneratePdf", new { SEARCH_DATE = Html.Raw(ViewData["SEARCH_DATE"]) })">pdf<img class="icon-caption" src="~/Assets/img/icon/icon-Export.jpg" /></a>
                        </div>
                    }

                </div>

            </div>
        </div>
        <div class="outer-wrapper" style="margin-bottom:50px">
            <div class="table-wrapper-time-keep">
                <table class="table-hover">
                    <caption class="table-caption">
                        <div>
                            @if (ViewData["SEARCH_DATE"] != null)
                            {
                                <div>
                                    @Human.Resource.Language.Time_sheet - @Html.Raw(ViewData["SEARCH_DATE"])
                                </div>
                            }
                            else
                            {
                                <div>
                                    @Human.Resource.Language.Time_sheet - @DateTime.Now.ToString("MM/yyyy")
                                </div>
                            }
                        </div>
                    </caption>
                    <thead>
                        <tr>

                            <th>
                                Ngày
                                <br />(Date)
                            </th>
                            <th>
                                Thứ
                                <br />(Day)
                            </th>
                            <th>
                                Giờ vào
                                <br />(Checkin)
                            </th>
                            <th>
                                Giờ ra
                                <br />(Checkout)
                            </th>
                            <th>
                                Giờ công
                                <br />(Hour)
                            </th>
                            <th>TC 150 <br /> (OT 150)</th>
                            <th>TC 210 <br /> (OT 210)</th>
                            <th>
                                Ca đêm
                                <br />(Night)
                            </th>
                            <th>TC 200<br />(OT 200)</th>
                            <th>
                                PNăm
                                <br />(AnL)
                            </th>
                            <th>
                                Cưới,tang
                                <br />(Wed,Ful)
                            </th>
                            <th>
                                K.thai
                                <br />(Preg)
                            </th>
                            <th>
                                Khác
                                <br />(Other)
                            </th>
                            <th>
                                Lễ
                                <br />(Hol)
                            </th>
                            <th>
                                Ghi chú
                                <br />(Remark)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.LIST_TIMEKEEEPVIEW != null && Model.LIST_TIMEKEEEPVIEW.Any())
                        {

                            double total_hourwork = 0;
                            double total_otwork = 0;
                            double total_ot215 = 0;
                            double total_nighthour = 0;
                            double total_anuallave = 0;
                            double total_wed_ful = 0;
                            double total_other = 0;
                            double total_holiday = 0;

                            foreach (var item in Model.LIST_TIMEKEEEPVIEW)
                            {
                                var rowStyle = (item.DATENAME == "SUN") ? "background-color:#F3ecec;" : "";

                                <tr style="@rowStyle">
                                    <td>@item.DATEOFMONTH.ToString("dd/MM")</td>
                                    <td>@item.DATENAME</td>
                                    @if (item.TIME_CHECKIN == null)
                                    {
                                        <td>-</td>

                                    }
                                    else if (item.TIME_CHECKIN.ToString("HH:mm:ss") == "00:00:00")
                                    {
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>@item.TIME_CHECKIN.ToString("HH:mm:ss")</td>
                                    }
                                    @if (item.TIME_CHECKOUT == null)
                                    {
                                        <td>-</td>

                                    }
                                    else if (item.TIME_CHECKOUT.ToString("HH:mm:ss") == "00:00:00")
                                    {
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>@item.TIME_CHECKOUT.ToString("HH:mm:ss")</td>
                                    }
                                    @if (item.HOUR_WORK == 0)
                                    {
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>@item.HOUR_WORK</td>
                                        total_hourwork += item.HOUR_WORK;
                                    }

                                    @if (item.OT_WORK == 0)
                                    {
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>@item.OT_WORK</td>
                                        total_otwork += item.OT_WORK;
                                    }
                                    @if (item.OT200_WORK == 0)

                                    {
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>@item.OT200_WORK</td>
                                        total_ot215 += item.OT200_WORK;
                                    }
                                    @if (item.NIGHT_TIME == 0)

                                    {
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>@item.NIGHT_TIME</td>
                                        total_nighthour += item.NIGHT_TIME;
                                    }
                                    <td>-</td>
                                    @if (item.ANUAL_LEAVE == 0)

                                    {
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>@item.ANUAL_LEAVE</td>
                                        total_anuallave += item.ANUAL_LEAVE;
                                    }
                                    @if (item.WED_FUL_LEAVE == 0)

                                    {
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>@item.WED_FUL_LEAVE </td>
                                        total_wed_ful += item.WED_FUL_LEAVE;
                                    }
                                    <td>-</td>
                                    @if (item.OTHER_LEAVE == 0)

                                    {
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>@item.OTHER_LEAVE</td>
                                        total_other += item.OTHER_LEAVE;
                                    }
                                    @if (item.DAYOFF == 0)

                                    {
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>@item.DAYOFF</td>
                                        total_holiday += item.DAYOFF;

                                    }
                                    <td>@(string.IsNullOrEmpty(item.REMARK) ? "-" : item.REMARK)</td>
                                </tr>
                            }
                            <!-- Hiển thị tổng ở ngoài vòng lặp -->
                            <tr style=" border-top: 2px solid #ccc2c2; font-size: 15px; font-weight: 600;">
                                <td colspan="3" class="text-center">Tổng cộng (Total):</td>
                                <td>
                                    (Hour)
                                    <br />(Day)
                                </td>
                                <td>
                                    @(total_hourwork == 0 ? "-" : Math.Round(total_hourwork, 1).ToString())
                                    <br />@(total_hourwork == 0 ? "-" : Math.Round(total_hourwork / 8, 2).ToString())
                                </td>
                                <td>@(total_otwork == 0 ? "-" : total_otwork.ToString())</td>
                                <td>@(total_ot215 == 0 ? "-" : total_ot215.ToString())</td>
                                <td>@(total_nighthour == 0 ? "-" : total_nighthour.ToString())</td>
                                <td>-</td>
                                <td>@(total_anuallave == 0 ? "-" : total_anuallave.ToString())</td>
                                <td>@(total_wed_ful == 0 ? "-" : total_wed_ful.ToString())</td>
                                <td>-</td>
                                <td>@(total_other == 0 ? "-" : total_other.ToString())</td>
                                <td>@(total_holiday == 0 ? "-" : total_holiday.ToString())</td>
                                <td></td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td colspan="15" style="text-align: center; font-size:14px;"> Không có dữ liệu<br>(No matching records found) </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="footer-table" style="border-top: 2px solid #ccc2c2;">
                <span class="text-color-gray btn-paging">
                </span>
            </div>
        </div>
    </div>
</div>